<!DOCTYPE html>
<html data-theme="light" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Chess vs AI</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/chessboard2.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/pico.css') }}">
    <script src="{{ url_for('static',filename='js/chessboard2.js') }}"></script>
    <script src="{{ url_for('static',filename='js/chess.js') }}"></script>
    <script src="{{ url_for('static',filename='js/uuid.js') }}"></script>
    <script src="{{ url_for('static',filename='js/axios.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static',filename='js/chess_actions.js') }}"></script>
</head>
<body style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; min-height: 100vh; margin: 0; padding: 20px; box-sizing: border-box;">
  <div id="app"></div>
  <h1>Chess vs AI</h1>
  <h3 id="gameStatus" style="color: darkgray; text-align: center;"></h3>
  <Chessboard />
  <div id="container1" style="display: flex; flex-direction: row; align-items: flex-start; gap: 40px; justify-content: center;">
    <div id="containerGame" style="display: flex; flex-direction: column; align-items: center; margin-right: 30px;">
      <div id="myBoard" style="width: 400px; margin: 20px 0;"></div>
      <div style="display: flex; gap: 10px; justify-content: center; margin: 20px auto;">
        <button id="newGameBtn" style="padding: 10px 20px;" class="contrast">New Game</button>
        <button id="surrenderBtn" style="padding: 10px 20px;" class="secondary">Surrender</button>
      </div>
    </div>
    <div id="containerMoveHistory" style="display: flex; flex-direction: column; align-items: center; margin-left: 30px;">
      <h4 style="text-align: center; margin-top:15px;">Move History:</h4>
      <div id="gamePGN" style="font-family: monospace; text-align: center; width: 600px; overflow-y: auto; border: 1px solid #ccc; border-radius: 5px;height: 450px;"></div>
    </div>
  </div>
  
</body>
<script>
// Initialize
const game = new Chess();

sessionStorage.setItem('gameId', uuid.v4());

addGame(toISOStringLocal(new Date('1970-01-01T00:00:00')))
console.log(`/"${uuid.v4()}","${sessionStorage.getItem('gameId')}","_","_","${toISOStringLocal(new Date())}"`)

axios.post('http://127.0.0.1:5000/add_move/' + uuid.v4() + `/"${uuid.v4()}","${sessionStorage.getItem('gameId')}","dummy","_","${toISOStringLocal(new Date())}"`)

// the board object is "dumb":
// - shows the current position from the game
// - handles input events from users
const boardConfig = {
  draggable: true,
  onDragStart,
  onTouchSquare,
  onDrop,
  onSnapEnd,
  position: game.fen(),
  touchMove: true
}
const board = Chessboard2('myBoard', boardConfig)

updateStatus()

let pendingMove = null

document.getElementById('newGameBtn').addEventListener('click', startNewGame)
document.getElementById('surrenderBtn').addEventListener('click', surrender)
</script>
</html>
